.nav{
    margin:0;
    padding: 5px;
    list-style-type: none;
    background-color: coral;
    overflow: hidden;
    width: 200px;
}

.nav li{
    display: inline;
}

.nav li a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    display: block;
}

.nav li a:hover{
    background-color: aqua;
    color: black;
}